<%- include('../front/header.ejs') %>

  
  <div class="container">
    <div class="row">
      <br /><br />
      <div class="col-md-6">
        <h2 class="contactline1" style="color: #23386f">About B.Tech</h2>
        <hr style="width: 60px; height: 8px; color: #bf9a30" />
        <ul class="li1">
          <li>
            Bachelor of Technology (BTech) is a professional undergraduate
            engineering degree programme awarded to candidates after they complete
            four years of study in the field. Engineering is one of the most
            popular courses in India and there are many institutes that offer the
            course to aspiring students.
          </li>
          <hr />
          <li>
            For admissions, the most common BTech entrance examinations are JEE
            Main and JEE Advanced. Along with these national level entrance
            examinations, there are many state and private level entrance
            examinations that the students can attempt for admission to the
            course.
          </li>
          <hr />
          <li>
            The basic eligibility criteria for BTech is class 12 with Physics,
            Chemistry and Mathematics. However, there are additional criteria in
            every entrance exam and institute. Some of the institutes also conduct
            admission to their courses on merit basis i.e. based on marks scored
            by candidates in their class 12 board exams.
          </li>
          <hr />
        </ul>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <img
          src="https://static.businessworld.in/article/article_extra_large_image/1570198137_NgbNFp_lpu.jpg"
          height="500"
        />
      </div>
    </div>
    <br /><br />
    <div class="row">
      <div class="col-md-5">
        <img
          src="https://ischoolconnect.com/blog/wp-content/uploads/2021/12/All-you-need-to-know-about-pusuing-an-MTech-770x513.jpg"
          height="400"
        />
      </div>
      <div class="col-md-1"></div>
      <br />
      <div class="col-md-6">
        <h2 class="contactline1" style="color: #23386f" >About M.Tech</h2>
        <hr style="width: 60px; height: 8px; color: #bf9a30" />
        <ul class="ms-5">
          <li>
            MTech is a professional postgraduate engineering master degree
            programme awarded to candidates after completion of two years of study
            in the discipline of engineering. This degree is predicated in a
            specific branch of engineering.
          </li>
          <hr />
          <li>
            These specializations include Civil Engineering, Computer Science and
            Engineering, Chemical Engineering, Electrical Engineering, VLSI,
            Mechanical Engineering, Electronics and Communication Engineering etc.
          </li>
          <hr />
          <li>
            In India, this master degree is regulated under the aegis of
            University Grants Commission of India (UGC), All India Council for
            Technical Education (AICTE) and National Board of Accreditation (NBA).
            Admissions to ME/MTech programmes offered by technical colleges and
            universities in India is made through a National
            level/State-level/Institute-level engineering entrance examination.
          </li>
          <hr />
        </ul>
      </div>
    </div>
    <br />
    <div class="row">
      <br /><br />
      <div class="col-md-6">
        <h2 class="contactline1" style="color: #23386f">About MCA</h2>
        <hr style="width: 60px; height: 8px; color: #bf9a30" />
        <ul class="li1">
          <li>
            The MCA is the world’s most popular graduate Computer Science degree.
            Employers love it and students can’t get enough of it. Thousands of
            ambitious professionals apply to different types of MCA program each
            year.
          </li>
          <hr />
          <li>
            As a generalist degree, the MBA gives you fundamental management
            knowledge, meaning you’ll get a holistic view of business across areas
            like marketing, finance, and accounting, all while developing those
            vital soft skills and leadership skills.
          </li>
          <hr />
          <li>
            Famous MCA alumni include CEOs of multinational companies, successful
            entrepreneurs, and former Presidents. George W. Bush, Michael
            Bloomberg, Tim Cook, Satya Nadella, Sundar Pichai, Sheryl
            Sandberg—they all have MBAs.
          </li>
          <hr />
        </ul>
      </div>
      <div class="col-md-1"></div>
      <div class="col-md-5">
        <img
          src="https://pimt.in/wp-content/uploads/2021/04/MCA-Course-in-Punjab.jpg"
          height="500"
        />
      </div>
    </div>
    <br /><br />
  </div>
  <br />
  
    