<div class="container-fluid" style="background: #000; padding-bottom:30px; padding-top: 30px;">
    <div class="row" style="display:block;">
        
        
        <div class="text-center">
            <p class="copyright-text" style=" font-size: 14px;
    color: white;
    margin-top: 0px;
    margin-bottom: 0rem;">
                PRIVACY POLICY | TERMS AND CONDITIONS | 
                <a href="" style="color:#fff; text-decoration:none;">BLOG</a>
                <br>
                COPYRIGHT © 2022 
                <a href=""style="color: white;text-decoration: none;">ADMISSION PORTAL</a>
            </p>
        </div>
    </div>
</div>